.challengeBoxContainer {
  height: 100%;

  background-color: var(--white);
  border-radius: 0.313rem;
  box-shadow: 0 0 3.75rem rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .challengeActive {
    height: 100%;

    display: flex;
    flex-direction: column;

    header {
      color: var(--blue);
      font-weight: 600;
      font-size: 1.25rem;
      padding: 0 2rem 1.5rem;
      border-bottom: 1px solid var(--gray-line);
    }

    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      strong {
        font-size: 2rem;
        font-weight: 600;
        color: var(--title);
        margin: 1.5rem 0 1rem;
      }

      p {
        line-height: 1.5;
      }
    }

    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      button {
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: initial;
        border-radius: 0.313rem;

        color: var(--white);

        font-size: 1rem;
        font-weight: 600;

        &.challengeFailedButton {
          background-color: var(--red);
        }

        &.challengeSucceededButton {
          background-color: var(--green);
        }

        &:hover {
          transition: ease-in-out 0.2s;
          filter: brightness(0.9);
        }
      }
    }
  }

  .challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    strong {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.4;
    }

    p {
      max-width: 70%;
    }

    img {
      height: 5rem;
      margin-top: 3rem;
    }
  }
}
